@media(max-width: 500px){
    #heading{
        gap: 2vw;
    }
    #heading h1{
        font-size: 6vw;
    }
    #heading i{
        font-size: 6vw;
    }
    #eandd{
        width: 230px;
    }
    .enc{
        width: 100px;
    }
    .dec{
        width: 100px;
    }
    .enc h3{
        font-size: 2vw;
    }
    .dec h3{
        font-size: 2vw;
    }
    #content{
        display: flex;
        justify-content: center;
    }
    #encryption #encryinput{
        width: 400px;
    }
    #decryption #decryinput{
        width: 400px;
    }
    #btn{
        width: 200px;
        display: block;
        margin: 7vw auto;
    }
    #footer{
        padding: 5vw 0;
    }
    #footer h5{
        font-size: 3vw;
    }
    #outerresult{
        padding: 0;
    }
    #result{
        padding: 20px;
        margin-top: 0;
        margin-bottom: 5vw;
    }
}